@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fffbf4;
}

a,
a:visited,
a:hover,
a:link,
a:active {
  text-decoration: none;
  font-style: none;
  color: inherit;
}

span.error {
  color: red;
  font-size: 0.8rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex .flex-col-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex .flex-col-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex .flex-col-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex .flex-col-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex .flex-col-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex .flex-col-6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.avatar {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  -webkit-transition: 0.2s -webkit-filter;
  transition: 0.2s -webkit-filter;
  transition: 0.2s filter;
  transition: 0.2s filter, 0.2s -webkit-filter;
}

.avatar.big {
  width: 180px;
  height: 180px;
}

.avatar img {
  height: 100%;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}

.avatar:hover {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.avatar:hover img {
  height: 110%;
}

.list-header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.list {
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0;
}

ul.list li {
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  padding: 12px 16px;
  cursor: pointer;
}

ul.list li.header {
  cursor: default;
  background: #fc7e25 !important;
}

ul.list li.header div {
  color: #fff;
  font-weight: bold;
}

ul.list li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}

ul.list li:hover {
  background: rgba(0, 0, 0, 0.2);
}

ul.list li div {
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar {
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  bottom: -72px;
  width: 200px;
  background-color: #fc7e25;
  color: #fff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
}

#sidebar .item .icon {
  min-width: 54px;
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar .item .icon i {
  font-size: 20px;
}

#sidebar .item span {
  font-size: 1rem;
  font-weight: bold;
}

#sidebar .item.active,
#sidebar .item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#sidebar .sign-out {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main {
  padding: 16px 16px 16px 232px;
}

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  font-weight: 400;
  font-size: 0.9rem;
}

.form-group input.form-control {
  width: 100%;
  padding: 8px 4px;
  background: transparent;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #e2e2e2e2;
  -webkit-transition: border-bottom 0.4s;
  transition: border-bottom 0.4s;
  border-color: #e2e2e2;
  margin-top: 8px;
  font-size: 0.9rem;
}

.form-group input.form-control:active,
.form-group input.form-control:focus {
  border-bottom: 1px solid #FCB525;
}

.form-group i {
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.action-group {
  width: 100%;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-form {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  min-width: 280px;
  padding: 32px;
}

#login-form form #logo {
  margin-bottom: 58px;
}

#logo {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-size: 28px;
  color: #272727;
  position: relative;
  font-weight: 900;
}

#logo > span {
  font-size: 26px;
  color: #FCB525;
  position: absolute;
  top: 28px;
  left: 11px;
}

button {
  cursor: pointer;
}

button.btn,
a.btn {
  -webkit-transition: 0.2s width, 0.2s background-color;
  transition: 0.2s width, 0.2s background-color;
}

button.btn.primary,
a.btn.primary {
  padding: 8px 16px;
  background-color: #FCB525;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

button.btn.primary:hover,
a.btn.primary:hover {
  background-color: #fc7e25;
}

button.btn.md,
a.btn.md {
  width: 50%;
}

button.btn.md:hover,
a.btn.md:hover {
  width: 55%;
}

button.btn.big,
a.btn.big {
  width: 90%;
}

button.btn.big:hover,
a.btn.big:hover {
  width: 100%;
}

#dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  width: 100%;
  height: 100%;
}

#dashboard .card {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 1px 1px rgba(1, 0, 0, 0.1);
          box-shadow: 0 0 1px 1px rgba(1, 0, 0, 0.1);
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#dashboard .card .value {
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  padding-bottom: 16px;
}

#dashboard .card .legend {
  color: #3a3a3a;
  text-align: center;
}

.pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pagination .page {
  padding: 8px 16px;
  border: 1px solid #949494;
  border-left: none;
  background: #fff;
}

.pagination .page.first {
  border-left: 1px solid #949494;
}

.pagination .page.active {
  background: #fc7e25 !important;
  color: #fff;
  font-weight: bold;
}

.pagination .next {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #fc7e25;
  margin-left: 16px;
}

.pagination .next:hover {
  border-left: 16px solid #d66616;
}

.pagination .previous {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 16px solid #fc7e25;
  margin-right: 16px;
}

.pagination .previous:hover {
  border-right: 16px solid #d66616;
}

#create-gym .avatar-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}

#create-gym .avatar-picture span {
  margin-top: 16px;
  font-size: 0.8rem;
  color: #868686;
  font-style: italic;
  max-width: 240px;
}

#create-gym .fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

@media screen and (min-width: 1400px) {
  #dashboard {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 912px) {
  #dashboard {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 720px) {
  main {
    padding: 16px 16px 16px 72px;
  }

  #sidebar {
    -webkit-transition: width 0.8s;
    transition: width 0.8s;
    width: 54px;
  }

  #sidebar .item i {
    font-size: 26px;
  }

  #sidebar::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }

  #sidebar:hover {
    width: 200px;
  }

  #sidebar:hover::after {
    width: 0;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  #dashboard {
    grid-template-columns: 1fr 1fr;
  }

  #create-gym .fields {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 540px) {
  #dashboard {
    grid-template-columns: 1fr;
  }
}

