
@media only screen and (min-width: 1400px){
	#intro{
		padding-right: 14% !important;
		padding-top: 72px;
		padding-left: 14% !important;
		width: auto;
		min-height: 980px;
		overflow-y: hidden;
	}
	#background-ellipse{
		max-width: 1350px;
	}
}
@media only screen and (min-width: 1800px){
	#intro{
		padding-right: 18% !important;
		padding-left: 18% !important;
	}
}

@media only screen and (max-width: 1280px){
	#intro > .phone > .front{
		width: 292px;
	}
	#intro > .phone > .back{
		max-width: 272px;
		left: 10px;
	}
	#intro > .phone > .back > .slide-item{
		top: 34px;
		width: 272px;
		height: 566px;
	}
	section{
		padding-right: 92px;
		padding-left: 92px;
		padding-top: 36px;
	}
	#intro{
		min-height: 750px;
	}
}

@media only screen and (max-width: 1024px){
	h2{
		font-size: 38px;
	}
	h3{
		font-size: 28px;
	}
	h4{
		font-size: 22px;
	}
	h5{
		font-size: 14px;
	}

	#background-ellipse{
		width: 91vw;
		top: 35%;
		right: -82%;
	}
	section{
		padding-left: 72px;
		padding-right: 72px;
		padding-top: 32px;
	}
	#logo{
		font-size: 42px;
		transition: 0.5s;
		animation: logo-animation-little 0.9s;
	}
	@keyframes logo-animation-little {
		from {transform: translateY(-500%);}
		to {transform: translateY(0);}
	}

	#logo > span{
		font-size: 52px;
	}
	#intro{
		min-height: 700px;
	}
	#intro > .phone > .front{
		max-width: 242px;
	}
	#intro > .phone > .back{
		max-width: 242px;
		left: 9px;
	}
	#intro > .phone > .back > .slide-item{
		top: 27px;
		max-width: 225px;
		height: 468px;
	}
	#intro > .info > h2{
		max-width: 35vw;
	}

	#intro > .info > span{
		max-width: 30vw;
		font-size: 16px;
	}
	#about > .carousel > .row{
		left: 50%;
	}
	#about > .carousel > .row > .item{
		width: 50%;
		padding: 0 64px;
		display: inline-block;
		height: 280px;
	}

	#about > .carousel > .row > .item.active > .box > object{
		width: 72px;
		height: 72px;
		margin: auto;
		transition: 0.8s;
	}
	#about > .carousel > .row > .item.active{
		width: 50%;
		padding: 0 64px;
		display: inline-block;
		height: 280px;
	}

	#about > .carousel > .bar{
		content: '2';
		width: 60%;
		opacity: 1 !important;
	}

	#contact > .email-box{
		height: 128px;
	}
	#mail-icon{
		width: 64px;
	}
	#send-mail{
		padding: 18px 64px;
	}
}

@media only screen and (max-width: 792px) {
	#pricing .ball {
		top: 40%
	}
	#pricing .ball.second {
		left: 90%;
		top: 70%
	}
	#pricing .ball.third {
		top: 90%;
		left: 20%;
		max-width: 100px;
		max-height: 100px;
		min-width: 100px;
		min-height: 100px;
	}
	#pricing .carousel {
		margin-top: 48px;
	}
	#pricing .carousel {
		flex-direction: column;
	}
	#pricing .carousel .card:first-child {
		margin-bottom: 36px;
	}

	#contact > h4{
		font-size: 14px !important;
	}

	#contact{
		min-height: 900px;
		height: 900px;
	}
	#contact > h2{
		font-size: 32px;
	}
	#contact > h4{
		max-width: 100%;
	}
	#contact > .email-box{
		padding: 0 24px;
		height: 346px;
		flex-direction: column;
		justify-content: flex-start;
	}
	#contact > .email-box > .form-group{
		width: 100%;
	}
	#send-mail{
		bottom: 24px;
		left: 50%;
		transform: translateX(-50%);
	}

	#background-ellipse{
		width: 108vw;
		top: 35%;
		right: -107%;
	}
	section{
		padding-right: 56px;
		padding-left: 56px;
		padding-top: 28px;
	}
	#logo{
		font-size: 36px;
	}
	#logo > span{
		font-size: 44px;
	}

	#intro > .phone > .front{
		max-width: 188px;
	}
	#intro > .phone > .back{
		max-width: 202px;
		left: 7px;
	}
	#intro > .phone > .back > .slide-item{
		top: 22px;
		max-width: 175px;
		height: 363px;
	}
	h2{
		font-size: 32px;
	}
	h3{
		font-size: 26px;
	}
	h4{
		font-size: 20px;
	}
	h5{
		font-size: 13px;
	}

	#intro > .info > h2{
		max-width: 32vw;
	}

	#intro > .info > span{
		max-width: 28vw;
		font-size: 14px;
	}
	#about > h5{
		font-size: 400;
	}
	#about > h3{
		font-size: 26px;
		max-width: 95%;
	}
	#about > h5{
		font-size: 14px;
		max-width: 70%;
	}
	#about > .carousel{
		margin-top: 48px;
	}
	#about > .carousel > .row > .item{
		width: 100%;
		padding: 0 64px;
		display: inline-block;
		height: 280px;
	}
	#about > .carousel > .row > .item.active{
		width: 100%;
		padding: 0 64px;
		display: inline-block;
		height: 280px;
	}
	#about > .carousel{
		padding: 0 42px 0 42px;
	}
	#about > .carousel > .row{
		left: 50%;
	}
	#about > .carousel > .bar{
		content: '1';
		width: 40%;
	}
}
@media only screen and (max-width: 646px){
	#contact{
		min-height: 936px;
		height: 936px;
	}
	#created-by, #made-by{
		right: auto;
		left: 50%;
		transform: translateX(-50%);
	}
}



@media only screen and (max-width: 592px){
	#contact > h4{
		text-align: justify;
	}
	#contact{
		min-height: 922px;
		height: 922px;
	}
	#contact > h2{
		font-size: 26px;
	}
	#intro{
		padding-top: 72px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding-right: 56px !important;
		overflow-y: visible;
		padding-bottom: 128px;
	}
	#background-ellipse{
		display: none;
	}
	#background-ellipse-fake{
		position: absolute;
		border: 2px solid #FCB525;
		top: 620px;
		display: block;
		max-width: 530px;
		max-height: 530px;
		width: 135vw;
		height: 135vw;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		animation: little-ellipse-animation 1.2s;
	}
	#background-ellipse-fake span{
		top: 50%;
		border: 2px solid #FCB525;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		width: 90%;
		height: 90%;
	}

	#background-ellipse-fake span.fill span{
		background: rgba(252, 180, 37, 0.383);
	}
	#intro > .info{
		position: relative;
		transition: 0s;
		top: 76px;
		transform: translateY(0%);
	}
	#about > .carousel{
		margin-top: 36px;
	}
	#intro > .info > h2, #intro > .info > span{
		max-width: 100%;
		text-align: center;
		transition: 0s;
		white-space: nowrap;
	}
	#intro > .info > h2{
		padding-left: 12px;
	}
	#logo > span{
		transition: 0s;
	}
	#intro > .phone {
		position: relative;
		animation: none;
		display: none;
	}
	#intro > .info > .phone {
		display: block;
		position: relative;
		margin-top: 136px;
	}

	#intro > .info > .phone > .front{
		transition: 0s;
		transform: translateX(-50%);
		left: 50%;
		animation: phone-animation-small 3s;
		position: relative;
		z-index: 5;
		width: 372px;
		max-width: 188px;
	}
	#intro > .info > .phone > .back{
		transition: 0s;
		animation: phone-animation-small 3s;
		position: absolute;
		z-index: 1;
		top: 0;
		transform: translateX(-50%);
		left: 50%;
		max-width: 202px;
		overflow-x: hidden;
		overflow-y: hidden;
		height: 100%;
		max-height: inherit;
	}
	#intro > .info > .phone > .back > .slide-item{
		transition: 0s;
		position: relative;
		width: 347px;
		top: 22px;
		max-width: 175px;
		height: 363px;
	}

	#intro > .info > .download {
		margin: auto;
		margin-top: 92px;
	}

	#about>.carousel>.row>.item>.box>span {
		text-align: justify;
		padding: 0 8px;
	}
	#about > .carousel > .arrow-button.right {
		right: 24px;
	}
	#about > .carousel > .arrow-button.left {
		left: 24px;
	}

	#about>.carousel>.row>.item:nth-child(2) {
		padding-left: 60px;
	}
	#about>.carousel>.row>.item:nth-child(3) {
		padding-left: 52px;
	}
	#about>.carousel>.row>.item:nth-child(4) {
		padding-left: 46px;
	}

	#about > .carousel {
		padding: 0 26px 0 26px;
	}

}



@media only screen and (max-width: 540px) {
	#intro > .info > h2{
		font-size: 26px;
	}
	#contact{
		min-height: 952px;
		height: 952px;
	}
	#about > h3{
		font-size: 20px;
	}
	#about > h5{
		font-size: 12px;
		max-width: 80%;
	}
	#about > .carousel{
		margin-top: 30px;
	}
	#about > .carousel > .row{
		left: 50%;
	}
}

@media only screen and (max-width: 492px) {
	h2{
		font-size: 24px;
	}
	#contact {
		min-height: 970px;
		height: 970px;
	}
	h3{
		font-size: 20px;
	}
	h4{
		font-size: 16px;
	}
	h5{
		font-size: 12px;
	}
	#intro > .info > span{
		font-size: 12px;
	}
	#social-media{
		margin-top: 32px;
		font-weight: 300;
		font-size: 14px;
		padding: 0 32px;
		position: relative;
	}
	#contact > .email-box > .form-group{
		padding-left: 0;
	}
	#send-mail{
		padding: 14px 32px;
	}
}
