html,body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

div, button, h1, h2, h3, span {
	transition: 1.2s;
}

button {
	cursor: pointer;
}

section {
	max-width: 100vw;
	min-height: 100vh;
	width: 100vw;
	position: relative;
	padding-right: 130px;
	padding-left: 130px;
	padding-top: 42px;
	overflow-x: hidden;
}

#background-ellipse-fake {
	display: none;
}

#intro {
	box-sizing: content-box;
	min-height: 890px;
	padding-right: 0 !important;
}

#intro>.info {
	position: absolute;
	top: 480px;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	display: flex;
	flex-direction: column;
}

#intro>.info>h2 {
	border-left: 2px solid #FCB525;
	padding-left: 20px;
	color: #373737;
	font-weight: 700;
	font-size: 42px;
	max-width: 30vw;
	margin-bottom: 16px;
}

#intro>.info>span {
	color: #707070;
	max-width: 30vw;
	font-size: 16px;
}

#intro>.info>.download {
	margin-top: 100px;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 1s;
}

#intro>.info>.download>img {
	width: 256px;
}

#intro>.info>.phone {
	display: none;
}

#intro>.phone {
	transition: 0s;
	position: absolute;
	right: 6%;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	animation: phone-animation 1.4s;
}

@keyframes phone-animation {
	0% {
		transform: translate(-50%, -150%);
	}

	15% {
		transform: translate(-50%, -150%);
	}

	100% {
		transform: translate(-50%, 0);
	}
}

@-webkit-keyframes phone-animation {
	0% {
		-webkit-transform: translate(-50%, -150%);
	}

	15% {
		-webkit-transform: translate(-50%, -150%);
	}

	100% {
		-webkit-transform: translate(-50%, 0);
	}
}

@-moz-keyframes phone-animation {
	0% {
		-moz-transform: translate(-50%, -150%);
	}

	15% {
		-moz-transform: translate(-50%, -150%);
	}

	100% {
		-moz-transform: translate(-50%, 0);
	}
}

@-ms-keyframes phone-animation {
	0% {
		-ms-transform: translate(-50%, -150%);
	}

	15% {
		-ms-transform: translate(-50%, -150%);
	}

	100% {
		-ms-transform: translate(-50%, 0);
	}
}

@-o-keyframes phone-animation {
	0% {
		-o-transform: translate(-50%, -150%);
	}

	15% {
		-o-transform: translate(-50%, -150%);
	}

	100% {
		-o-transform: translate(-50%, 0);
	}
}

#intro>.phone>.front {
	transition: 0s;
	position: relative;
	z-index: 5;
	width: 280px;
    height: 564px;
}

#intro > .phone > .back {
	background-color: #1b1b1b;
	border-radius: 24px;
	transition: 0s;
    position: absolute;
    z-index: 1;
    max-width: 264px;
    top: 8px;
    left: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 530px;
    max-height: inherit;
}

#intro>.phone>.back>.slide-item {
	transition: 0s;
    position: relative;
    top: 24px;
    width: 263px;
    height: 506px;
}

#logo {
	user-select: none;
	font-size: 56px;
	color: #272727;
	position: relative;
	font-weight: 900;
	transition: 0.5s;
	animation: logo-animation 0.9s forwards, logo-pulse-animation 5s infinite;
}

#logo>span {
	font-size: 69px;
	color: #FCB525;
	position: absolute;
	top: 40px;
	left: 4px;
}

@keyframes logo-animation {
	from {
		left: -100%;
	}

	to {
		left: 0px;
	}
}

@keyframes logo-pulse-animation {
	0% {
		transform: translate(0) scale(1)
	}

	40% {
		transform: translate(0) scale(1)
	}

	70% {
		transform: translate(1%) scale(1.02)
	}

	100% {
		transform: translate(0) scale(1)
	}
}

@-webkit-keyframes logo-pulse-animation {
	0% {
		-webkit-transform: translate(0) scale(1)
	}

	40% {
		-webkit-transform: translate(0) scale(1)
	}

	70% {
		-webkit-transform: translate(1%) scale(1.02)
	}

	100% {
		-webkit-transform: translate(0) scale(1)
	}
}

@-moz-keyframes logo-pulse-animation {
	0% {
		-moz-transform: translate(0) scale(1)
	}

	40% {
		-moz-transform: translate(0) scale(1)
	}

	70% {
		-moz-transform: translate(1%) scale(1.02)
	}

	100% {
		-moz-transform: translate(0) scale(1)
	}
}

@-ms-keyframes logo-pulse-animation {
	0% {
		-ms-transform: translate(0) scale(1)
	}

	40% {
		-ms-transform: translate(0) scale(1)
	}

	70% {
		-ms-transform: translate(1%) scale(1.02)
	}

	100% {
		-ms-transform: translate(0) scale(1)
	}
}

@-o-keyframe logo-pulse-animation {
	0% {
		-o-transform: translate(0) scale(1)
	}

	40% {
		-o-transform: translate(0) scale(1)
	}

	70% {
		-o-transform: translate(1%) scale(1.02)
	}

	100% {
		-o-transform: translate(0) scale(1)
	}
}

#background-ellipse {
	z-index: -1;
	position: absolute;
	width: 74vw;
	top: 35%;
	right: -57%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	animation: ellipse-animation 0.9s;
}

@keyframes little-ellipse-animation {
	from {
		transform: translate(-50%, -50%) scale(0);
	}

	to {
		transform: translate(-50%, -50%) scale(1);
	}
}

@-webkit-keyframes little-ellipse-animation {
	from {
		-webkit-transform: translate(-50%, -50%) scale(0);
	}

	to {
		-webkit-transform: translate(-50%, -50%) scale(1);
	}
}

@-moz-keyframes little-ellipse-animation {
	from {
		-moz-transform: translate(-50%, -50%) scale(0);
	}

	to {
		-moz-transform: translate(-50%, -50%) scale(1);
	}
}

@-ms-keyframes little-ellipse-animation {
	from {
		-ms-transform: translate(-50%, -50%) scale(0);
	}

	to {
		-ms-transform: translate(-50%, -50%) scale(1);
	}
}

@-o-keyframe little-ellipse-animation {
	from {
		-o-transform: translate(-50%, -50%) scale(0);
	}

	to {
		-o-transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes ellipse-animation {
	from {
		transform: translate(100%, -50%);
	}

	to {
		transform: translate(-50%, -50%);
	}
}

@-webkit-keyframes ellipse-animation {
	from {
		-webkit-transform: translate(100%, -50%);
	}

	to {
		-webkit-transform: translate(-50%, -50%);
	}
}

@-moz-keyframes ellipse-animation {
	from {
		-moz-transform: translate(100%, -50%);
	}

	to {
		-moz-transform: translate(-50%, -50%);
	}
}

@-ms-keyframes ellipse-animation {
	from {
		-ms-transform: translate(100%, -50%);
	}

	to {
		-ms-transform: translate(-50%, -50%);
	}
}

@-o-keyframe ellipse-animation {
	from {
		-o-transform: translate(100%, -50%);
	}

	to {
		-o-transform: translate(-50%, -50%);
	}
}

.division {
	width: 76vw;
	margin: 32px auto;
	height: 2px;
	background: rgb(195, 195, 195);
}

#about {
	padding-left: 0 !important;
	padding-right: 0 !important;
	box-sizing: content-box;
	min-height: auto;
	overflow: hidden;
}

#about>h3 {
	color: black;
	font-weight: 700;
	margin: auto;
	font-size: 32px;
	text-align: center;
	margin-bottom: 16px;
}

#about>h3>span {
	animation: you-anim 5s;
}

#pricing {
	margin-top: 24px;
	margin-bottom: 72px;
	padding: 0 !important;
	box-sizing: content-box;
	min-height: 300px;
	overflow: hidden;
}

#pricing .subscribe-overlay {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
	opacity: 0;
	transition: .25s;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pricing .subscribe-overlay.active {
	z-index: 101;
	opacity: 1;
}

#pricing .subscribe-overlay .box {
	position: relative;
	width: 80vw;
	height: fit-content;
	max-width: 420px;
	max-height: 600px;
	background-color: #fffdf7;
	box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 0 0 24px 0;
}

#pricing .subscribe-overlay .box .intro {
	padding-top: 36px;
	margin-bottom: 32px;
	text-align: justify;
	background: #F37335;
	padding: 36px 24px 24px 24px;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.5rem;
	transition: none;
}

#pricing .subscribe-overlay .box .intro.premium {
	background: #0e0801;
}

#pricing .subscribe-overlay .box .info {
	padding: 0 24px;
	margin-bottom: 16px;
}

#pricing .subscribe-overlay .box .intro span {
	display: block;
	font-size: 12px;
}

#pricing .subscribe-overlay .box button {
	cursor: pointer;
	color: #f0f0f0;
	background: #ff8d55;
	padding: 8px 32px;
	outline: none;
	border: none;
	font-size: 1.2rem;
	border-radius: 4px;
	transition: .2s;
	width: 100%;
	margin-top: 32px;
	font-weight: bold;
}

#pricing .subscribe-overlay .box button:hover {
	background: #F37335;
}

#pricing .subscribe-overlay .box button.premium {
	background: #0e0801;
}

#pricing .subscribe-overlay .box .close-overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 4px;
	top: 4px;
	width: 32px;
	height: 32px;
	z-index: 1;
	cursor: pointer;
}

#pricing .subscribe-overlay .box .close-overlay .cross {
	width: 20px;
	height: 3px;
	background-color: #fff;
	border-radius: 2px;
	transform: rotate(45deg);
	transition: .2s;
}

#pricing .subscribe-overlay .box .logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 42px;
}
#pricing .subscribe-overlay .box .logo {
	user-select: none;
	font-size: 34px;
	color: #272727;
	position: relative;
	font-weight: 900;
	transition: 0.5s;
}

#pricing .subscribe-overlay .box .logo > span {
	font-size: 40px;
	color: #FCB525;
	position: absolute;
	top: 28px;
	left: 4px;
}

#pricing .subscribe-overlay .box .close-overlay .cross::after {
	content: '';
	display: block;
	width: 20px;
	height: 3px;
	background-color: inherit;
	border-radius: 2px;
	transform: rotate(90deg);
}

#pricing .subscribe-overlay .box .close-overlay:hover .cross{
	background-color: #b9b9b9;
}


#pricing .subscribe-overlay .box .form-group {
	margin-bottom: 16px;
	padding: 0 24px;
}
#pricing .subscribe-overlay .box .form-group > input {
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px solid #e2e2e2;
	width: 100%;
	color: #2b2b2b;
	font-size: 16px;
	padding: 8px 4px;
	font-weight: 500;
	transition: .3s;
}

#pricing .subscribe-overlay .box .form-group > input::placeholder {
	color: #a0a0a0;
	font-weight: normal;
	transition: .3s;
}

#pricing .subscribe-overlay .box .form-group > input:focus {
	border-bottom: 1px solid #8d8d8d;
}

#pricing .subscribe-overlay .box .form-group > input:focus::placeholder {
	color: #636363;

}

#pricing > h3 {
	color: black;
	font-weight: 700;
	margin: auto;
	font-size: 32px;
	text-align: center;
	margin-bottom: 8px;
}

#pricing > h3 > span {
	animation: you-anim 5s;
}

#pricing > h5 {
	text-align: center;
	color: #707070;
	font-size: 16px;
	margin: auto;
}

#pricing .carousel {
	margin-top: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
	padding-bottom: 24px;
}

#pricing .carousel .card {
	background: #ffff;
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
	height: 100%;
	width: 30vw;
	min-width: 300px;
	max-width: 350px;
	transition: .2s;
	display: flex;
	justify-items: center;
	align-items: center;
	border-radius: 4px;
	overflow: hidden;
	flex-direction: column;
	height: 512px;
	margin: 0 32px;
	position: relative;
}

#pricing .carousel .card:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 3px 2px rgba(0, 0, 0, 0.2);
}

#pricing .carousel .card.big {
	width: 28vw;
	min-width: 320px;
	max-width: 530px;
	margin: 0 24px 24px 24px;
}

#pricing .carousel .card .title {
	background-color: #F37335;
	background-image: linear-gradient(to right, #FDC830, #F37335);
	color: #fff;
	font-size: 1.75rem;
	padding: 16px;
	width: 100%;
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#pricing .carousel .card.premium .title {
	background-image: linear-gradient(to right, #635d51, #000000);
}

#pricing .carousel .card .price {
	text-align: center;
	color: #333333;
	font-weight: 700;
	font-size: 18px;
	padding: 16px 0 0 0;
}
#pricing .carousel .card .small-price {
	font-size: 9px;
	color: #9f8f8f;
}

#pricing .carousel .card .price span {
	font-size: 36px;
	padding: 0 2px;
	color: #2b2b2b;
}

#pricing .carousel .card .info {
	color: #9f8f8f;
	font-size: 0.675rem;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 4px;
}

#pricing .carousel .card input[type="range"] {
	width: 80%;
	margin-bottom: 16px;
	-webkit-appearance: none;
	background: transparent;
}

#pricing .carousel .card input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

#pricing .carousel .card input[type="range"]:focus {
	outline: none;
}

#pricing .carousel .card input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: #F37335;
	cursor: pointer;
	margin-top: -7px;
	box-shadow: 1px 1px 2 px rgba(0, 0, 0, 0.2);
	transition: .3s;
}

#pricing .carousel .card input[type="range"]:hover::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	margin-top: -9px;
}

#pricing .carousel .card input[type="range"]:focus::-webkit-slider-thumb {
	background: #d86329;
}

#pricing .carousel .card input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: #F37335;
	cursor: pointer;
	margin-top: -14px;
	box-shadow: 1px 1px 2 px rgba(0, 0, 0, 0.2)
}


#pricing .carousel .card input[type="range"]::-webkit-slider-runnable-track {
	cursor: pointer;
	width: 100%;
	height: 3px;
	background: #b2b2b2;
	border-radius: 2px;
	transition: .3s;
}

#pricing .carousel .card input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #969696;
}


#pricing .carousel .card .range-text {
	margin-bottom: 8px;
	margin-top: 0;
}

#pricing .carousel .card .num-students {
	background-color: transparent;
	outline-color: none;
	border: none;
	border-bottom: 1px solid #F37335;
	width: 36px;
	margin: 0 4px;
	text-align: center;
	color: #F37335;
	font-size: 18px;
}

#pricing .carousel .card .features {
	text-align: center;
	margin-top: 8px;
}

#pricing .carousel .card .features > div:first-child {
	margin-top: 8px;
}

#pricing .carousel .card .features > div {
	margin-top: 14px;
	color: #2b2b2b;
	font-size: 0.875rem;
}

#pricing .carousel .card button {
	cursor: pointer;
	position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	color: #f0f0f0;
	background: #ff8d55;
	padding: 8px 32px;
	outline: none;
	border: none;
	font-size: 1.2rem;
	border-radius: 4px;
	transition: .2s;
	width: 70%;
}

#pricing .carousel .card button:hover {
	background: #F37335;
	color: #fff;
}

#pricing .carousel .card.premium button {
	background: #0e0801;
}

#pricing .carousel .card.premium button:hover {
	background: #000;
}

#pricing .ball {
	position: absolute;
	width: 30vw;
	height: 30vw;
	min-width: 200px;
	max-width: 300px;
	min-height: 200px;
	max-height: 300px;
	left: 30px;
	top: 60%;
	transform: translate(-50%, -50%);
	opacity: .44;
	animation: float 7s ease-in-out infinite;
	animation-delay: 0;
}

#pricing .ball.second {
	left: 45%;
	top: 35%;
	width: 10vw;
	height: 10vw;
	opacity: .3;
	animation: float 12.5s ease-in-out infinite;
	animation-delay: -1s;
}

#pricing .ball.third {
	left: 85%;
	top: 75%;
	width: 20vw;
	height: 20vw;
	opacity: .2;
	animation: float 10s ease-in-out infinite;
	animation-delay: 1.2s;
}


@keyframes float {
	0% {
		transform: translate(-50%, -50%);
	}
	50% {
		transform: translate(-48%, -30%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

.diamond {
	border-style: solid;
	border-color: transparent transparent #e2e2e2 transparent;
	border-width: 0 4px 4px 4px;
	height: 0;
	width: 6px;
	box-sizing: content-box;
	position: relative;
}

.diamond:after {
	content: "";
	position: absolute;
	top: 4px;
	left: -4px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #e2e2e2 transparent transparent transparent;
	border-width: 8px 7px 0 7px;
}

#pricing .carousel .card .diamond {
	position: absolute;
    right: 22px;
    top: 25px;
}

@keyframes you-anim {
	0% {
		color: black;
	}

	35% {
		color: black;
	}

	45% {
		color: #F37335;
	}

	60% {
		color: black;
	}

	100% {
		color: black;
	}
}

#about>h5 {
	text-align: center;
	color: #707070;
	font-size: 16px;
	margin: auto;
}

#about>.carousel {
	width: 100%;
	margin: 0;
	padding: 0 72px 0 72px;
	margin-top: 92px;
	position: relative;
	white-space: nowrap;
}

#about>.carousel>.fade-left {
	width: 64px;
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	/* Standard syntax (must be last) */
	position: absolute;
	top: 0;
	left: 0;
	height: 420px;
	z-index: 50;
	display: block;
}

#about>.carousel>.fade-right {
	width: 64px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	/* Standard syntax (must be last) */
	position: absolute;
	top: 0;
	right: 0;
	height: 420px;
	z-index: 50;
	display: block;
}

#about>.carousel>.bar {
	content: '3';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	bottom: 42px;
	width: 25%;
	height: 4px;
	border-radius: 2px;
	background: linear-gradient(to right, #FDC830, #F37335);
}

#about>.carousel>.arrow-button.right {
	position: absolute;
	right: 56px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

#about>.carousel>.arrow-button.left {
	position: absolute;
	left: 56px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

#about>.carousel>.row {
	width: 100%;
	box-sizing: content-box;
	margin: 0;
	left: 50%;
	transition: 1.3s;
	position: relative;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	padding: 0 24px 0 24px;
	display: inline-block;
	height: 400px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 9999;
}

.toast {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	top: -72px;
	width: 232px;
	height: 36px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(2, 218, 2);
	color: white;
	font-size: 20px;
	z-index: 99999;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.overlay .lds-dual-ring {
	display: inline-block;
	width: 128px;
	height: 128px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.overlay .lds-dual-ring:after {
	content: " ";
	display: block;
	width: 128px;
	height: 128px;
	margin: 1px;
	border-radius: 50%;
	border: 12px solid #F37335;
	border-color: #F37335 transparent #F37335 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#about>.carousel>.row>.item {
	width: 30%;
	padding: 0 64px;
	display: inline-block;
	height: 280px;
}

#about>.carousel>.row>.item.active {
	height: 300px;
	width: 40%;
	padding-top: 24px;
}

#about>.carousel>.row>.item>.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	white-space: normal;
}

#about>.carousel>.row>.item>.box>object {
	width: 72px;
	height: 72px;
	margin: auto;
	transition: 0.8s;
}

#about>.carousel>.row>.item>.box:hover>object {
	transform: translateY(-18px) rotateY(360deg) !important;
	-webkit-transform: translateY(-18px) rotateY(360deg) !important;
	-moz-transform: translateY(-18px) rotateY(360deg) !important;
	-ms-transform: translateY(-18px) rotateY(360deg) !important;
	-o-transform: translateY(-18px) rotateY(360deg) !important;
}

#about>.carousel>.row>.item.active>.box>object {
	width: 92px;
	height: 92px;
}

@keyframes rotate-me {
	0% {
		transform: translateY(0) rotateY(0);
	}

	10% {
		transform: translateY(-18px) rotateY(360deg);
	}

	20% {
		transform: translateY(0) rotateY(0);
	}

	100% {
		transform: translateY(0) rotateY(0);
	}
}

#about>.carousel>.row>.item>.box>span:nth-child(2) {
	margin: 24px 0;
	font-size: 20px;
	font-weight: 700;
}

#about>.carousel>.row>.item>.box>span:nth-child(3) {
	height: 72px;
	text-align: center;
	font-size: 15px;
	color: #707070;
}

#about>.carousel>.row>.item>.box>span:nth-child(4) {
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: linear-gradient(to right, #FDC830, #F37335);
}

#contact {
	position: relative;
	height: 712px;
	min-height: 712px;
	padding-top: 58px;
	overflow-y: hidden;
}

#social-media {
	margin-top: 56px;
	color: #868686;
	font-weight: 600;
	font-size: 18px;
	padding: 0 86px;
	position: relative;
}

#social-media>div {
	margin-bottom: 12px;
}

#social-media>a {
	text-decoration: none;
}

#facebook {
	position: relative;
	width: 32px;
	margin-right: 16px;
	cursor: pointer;
}

#instagram {
	position: relative;
	width: 32px;
	cursor: pointer;
}

#background-contact-ellipse {
	position: absolute;
	top: 0;
	z-index: -1;
	width: 340vw;
	left: 50%;
	transform: translateX(-50%);
}

#contact>h2 {
	font-size: 36px;
	text-align: center;
}

#contact>h4 {
	max-width: 85%;
	color: #535353;
	margin: auto;
	font-size: 16px !important;
	font-weight: normal;
	text-align: center;
}

#contact>h4:nth-child(2) {
	margin-top: 36px;
}

#contact>h4:nth-child(3) {
	margin-top: 20px;
}

#mail-icon {
	width: 42px;
}

#contact>.email-box {
	width: 88%;
	max-width: 900px;
	padding: 0 86px;
	display: flex;
	justify-content: flex-start;
	position: relative;
	align-items: center;
	margin: auto;
	height: 172px;
	border-radius: 86px;
	margin-top: 42px;
	animation: email-animation 2s;
	background-image: linear-gradient(to right, #FDC830, #F37335);
	box-shadow: 4px 8px 4px 3px rgba(0, 0, 0, 0.2);
}

@keyframes email-animation {
	from {
		left: -200%;
	}

	to {
		left: 0px;
	}
}

#contact>.email-box>.form-group {
	display: flex;
	width: 35%;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	padding-left: 24px;
}

#contact>.email-box>.form-group>input {
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px solid white;
	width: 100%;
	color: white;
	font-size: 16px;
	padding: 8px 4px;
	margin-bottom: 12px;
	font-weight: 500;
}

#contact>.email-box>.form-group>input::placeholder {
	color: rgba(255, 255, 255, 0.815);
	font-weight: normal;
}

#send-mail {
	background: white;
	color: #F37335;
	padding: 20px 92px;
	position: absolute;
	right: 78px;
	border-radius: 42px;
	border: none;
	outline: none;
}

#send-mail:hover {
	color: black;
}

.arrow-button {
	z-index: 99;
	border: none;
	outline: none;
	background-color: rgb(27, 27, 27);
	border-radius: 50%;
	padding: 28px;
	opacity: 0.6;
	position: relative;
}

.arrow-button.small {
	opacity: 1;
	padding: 18px;
	background-color: #c9c9c9;
}

#scrollTop {
	position: fixed;
	bottom: 42px;
	right: 64px;
	opacity: 0;
}

.arrow-button>span {
	border-radius: 8px;
	display: block;
	width: 6px;
	height: 24px;
	position: absolute;
	background: white;
}

.arrow-button.small>span,
.arrow-button.small>span::after {
	width: 3px;
	background: #ffa100;
	height: 12px;
}

.arrow-button.up>span {
	transform: rotateZ(45deg);
	top: 15px;
	left: 18px;
}

.arrow-button.small.left>span {
	transform: rotateZ(315deg);
	top: 17px;
	left: 15px;
}

.arrow-button.small.right>span {
	transform: rotateZ(135deg);
	top: 9px;
	right: 16px;
}

#created-by,
#made-by {
	white-space: nowrap;
	position: absolute;
	right: 150px;
	bottom: 24px;
	color: #474747;
	font-weight: 100;
	font-size: 14px;
	text-decoration: none;
}

#created-by {
	bottom: 44px;
}

@keyframes jump-right {
	0% {
		right: 16px;
	}

	50% {
		right: 11px;
	}

	100% {
		right: 16px;
	}
}

@keyframes jump-left {
	0% {
		left: 15px;
	}

	50% {
		left: 11px;
	}

	100% {
		left: 15px;
	}
}

.arrow-button>span::after {
	content: '';
	border-radius: 8px;
	display: block;
	width: 6px;
	height: 24px;
	position: relative;
	background: white;
	transform: rotateZ(90deg);
	top: -10px;
	left: 9px;
}

.arrow-button.small>span::after {
	top: -6px;
	left: 5px;
}

.arrow-button:hover {
	background-color: black;
}

.arrow-button.small:hover {
	background-color: #7c7c7c;
}

.arrow-button.up:hover>span {
	animation: jump 0.6s;
}

.arrow-button.right:hover>span {
	animation: jump-right 0.5s;
}

.arrow-button.left:hover>span {
	animation: jump-left 0.5s;
}

@keyframes jump {
	0% {
		top: 15px;
	}

	50% {
		top: 11px;
	}

	100% {
		top: 15px;
	}
}