
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main: #FCB525;
$light: #fcea25;
$dark: #fc7e25;
$black: #0e0e0e;