
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
// Variables
@import "variables";

* {
	box-sizing: border-box;
	font-family: $font-family-sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #fffbf4;
}

a, a:visited, a:hover, a:link, a:active {
	text-decoration: none;
	font-style: none;
	color: inherit;
}

span.error {
	color: red;
	font-size: 0.8rem;
}

.flex {
	display: flex;
	&.center {
	justify-content: center;
	align-items: center;
	}
	.flex-col-1 { flex: 1; }
	.flex-col-2 { flex: 2; }
	.flex-col-3 { flex: 3; }
	.flex-col-4 { flex: 4; }
	.flex-col-5 { flex: 5; }
	.flex-col-6 { flex: 6; }
}

.avatar {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 128px;
	height: 128px;
	border-radius: 50%;
	transition: 0.2s filter;
	&.big {
		width: 180px;
		height: 180px;
	}
	img {
		height: 100%;
		transition: height 0.2s;
	}
	&:hover {
		filter: blur(1px);
		img {
			height: 110%;
		}
	}
}

.list-header {
	.buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

ul.list {
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	padding: 0;
	li {
		transition: background 0.1s;
		padding: 12px 16px;
		cursor: pointer;
		&.header {
			cursor: default;
			background: #fc7e25 !important;
			div {
			color: #fff;
			font-weight: bold;
			}
		}
		&:nth-child(odd) {
			background: rgba(0, 0, 0, 0.1);
		}
		&:hover {
			background: rgba(0, 0, 0, 0.2);
		}
		div {
			padding: 0 8px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

#sidebar {
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
	position: fixed;
	left: 0;
	top: 0;
	bottom: -72px;
	width: 200px;
	background-color: $dark;
	color: #fff;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100vh;
	align-items: center;

	.item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		transition: background-color 0.2s;
		width: 100%;
		.icon {
			min-width: 54px;
			width: 54px;
			height: 54px;
			display: flex;
			justify-content: center;
			align-items: center;
			i {
				font-size: 20px;
			}
		}
		span {
			font-size: 1rem;
			font-weight: bold;
		}
		&.active, &:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
	.sign-out {
		transform: rotate(180deg);
	}
}

main {
	padding: 16px 16px 16px 232px;
}

.form-group {
	position: relative;
	width: 100%;
	margin-bottom: 16px;
	label {
		display: block;
		font-weight: 400;
		font-size: 0.9rem;
	}
	input.form-control {
		width: 100%;
		padding: 8px 4px;
		background: transparent;
		background-color: transparent;
		outline: none;
		border: none;
		border-bottom: 1px solid #e2e2e2e2;
		transition: border-bottom 0.4s;
		border-color: #e2e2e2;
		margin-top: 8px;
		font-size: 0.9rem;
		&:active, &:focus {
			border-bottom: 1px solid $main;
		}
	}
	i {
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateX(-50%);
	}
}


.action-group {
	width: 100%;
	margin-top: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#login-form {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		max-width: 320px;
		min-width: 280px;
		padding: 32px;
		#logo {
			margin-bottom: 58px;
		}
	}
}

#logo {
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	font-size: 28px;
	color: #272727;
	position: relative;
	font-weight: 900;
}

#logo > span {
	font-size: 26px;
	color: #FCB525;
	position: absolute;
	top: 28px;
	left: 11px;
}

button {
	cursor: pointer;
}

button.btn, a.btn {
	transition: 0.2s width, 0.2s background-color;
	&.primary {
		padding: 8px 16px;
		background-color: $main;
		border: none;
		outline: none;
		border-radius: 4px;
		color: #fff;
		font-size: 1.1rem;
		font-weight: 600;
		&:hover {
			background-color: $dark;
		}
	}
	&.md {
		width: 50%;
		&:hover {
			width: 55%;
		}
	}
	&.big {
		width: 90%;
		&:hover {
			width: 100%;
		}
	}
}

#dashboard {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 32px;
	width: 100%;
	height: 100%;
	.card {
		background-color: #fff;
		border-radius: 16px;
		box-shadow: 0 0 1px 1px rgba(1px, 0, 0, 0.1);
		padding: 32px;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
		.value {
			text-align: center;
			font-size: 64px;
			font-weight: bold;
			padding-bottom: 16px;
		}
		.legend {
			color: #3a3a3a;
			text-align: center;
		}
	}
}

.pagination {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	.page {
		padding: 8px 16px;
		border: 1px solid #949494;
		border-left: none;
		background: #fff;
		&.first {
			border-left: 1px solid #949494;
		}
		&.active {
			background: #fc7e25 !important;
			color: #fff;
			font-weight: bold;
		}
	}
	.next {
		width: 0;
		height: 0;
		border-top: 16px solid transparent;
		border-bottom: 16px solid transparent;
		border-left: 16px solid #fc7e25;
		margin-left: 16px;
		&:hover {
			border-left: 16px solid #d66616;
		}
	}
	.previous {
		width: 0;
		height: 0;
		border-top: 16px solid transparent;
		border-bottom: 16px solid transparent;
		border-right:16px solid #fc7e25;
		margin-right: 16px;
		&:hover {
			border-right:16px solid #d66616;
		}
	}
}

#create-gym {
	.avatar-picture {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 32px;
		span {
			margin-top: 16px;
			font-size: 0.8rem;
			color: #868686;
			font-style: italic;
			max-width: 240px;
		}
	}
	.fields {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 16px;
	}
}


@media screen and (min-width: 1400px) {
	#dashboard {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 912px) {
	#dashboard {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 720px) {
	main {
		padding: 16px 16px 16px 72px;
	}
	#sidebar {
		transition: width 0.8s;
		width: 54px;
		.item i {
			font-size: 26px;
		}
		&::after {
			display: block;
			content: '';
			position: absolute;
			z-index: 10;
			left: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			transition:  width 0.5s;
		}

		&:hover {
			width: 200px;
			&::after {
			width: 0;
			}
		}
	}

	h1 {
		font-size: 1.4rem;
	}
	h2 {
		font-size: 1.25rem;
	}
	h3 {
		font-size: 1.1rem;
	}

	#dashboard {
		grid-template-columns: 1fr 1fr;
	}


	#create-gym {
		.fields {
			grid-template-columns: 1fr;
		}
	}

}

@media screen and (max-width: 540px) {
	#dashboard {
		grid-template-columns: 1fr;
	}
}