* { box-sizing: border-box; }
html, body {
	margin: 0;
	padding: 0;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #e2e2e2;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	width: 40vw;
	height: 30vh;
}