/* Animations */
@keyframes little-ellipse-animation {
	from { transform: translate(-50%, -50%) scale(0); }
	to { transform: translate(-50%, -50%) scale(1); }
}

@keyframes ellipse-animation {
	from { transform: translate(100%, -50%); }
	to { transform: translate(-50%, -50%); }
}

@keyframes phone-animation {
	0% { transform: translate(-50%, -150%); }
	15% { transform: translate(-50%, -150%); }
	100% { transform: translate(-50%, 0); }
}

@keyframes logo-animation {
	from { left: -100%; }
	to { left: 0px; }
}

@keyframes logo-animation-little {
	from { transform: translateY(-500%); }
	to { transform: translateY(0); }
}

@keyframes logo-pulse-animation {
	0% { transform: translate(0) scale(1) }
	40% { transform: translate(0) scale(1) }
	70% { transform: translate(1%) scale(1.02) }
	100% { transform: translate(0) scale(1) }
}

@keyframes float {
	0% { transform: translate(-50%, -50%); }
	50% { transform: translate(-48%, -30%); }
	100% { transform: translate(-50%, -50%); }
}

@keyframes you-anim {
	0% { color: black; }
	35% { color: black; }
	45% { color: #F37335; }
	60% { color: black; }
	100% { color: black; }
}

@keyframes lds-dual-ring {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes rotate-me {
	0% { transform: translateY(0) rotateY(0); }
	10% { transform: translateY(-18px) rotateY(360deg); }
	20% { transform: translateY(0) rotateY(0); }
	100% { transform: translateY(0) rotateY(0); }
}

@keyframes email-animation {
	from { left: -200%; }
	to { left: 0px; }
}

@keyframes jump-right {
	0% { right: 16px; }
	50% { right: 11px; }
	100% { right: 16px; }
}

@keyframes jump-left {
	0% { left: 15px; }
	50% { left: 11px; }
	100% { left: 15px; }
}

@keyframes jump {
	0% { top: 15px; }
	50% { top: 11px; }
	100% { top: 15px; }
}

/* Styles */
html,body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	overflow-x: hidden;
}

* { box-sizing: border-box; }

button, h1, h2, h3, span {
	transition: 1.2s;
}

button {
	cursor: pointer;
}

section {
	max-width: 100vw;
	min-height: 100vh;
	width: 100vw;
	position: relative;
	padding-right: 130px;
	padding-left: 130px;
	padding-top: 42px;
	overflow-x: hidden;
}

#intro {
	box-sizing: content-box;
	min-height: 890px;
	padding-right: 0 !important;

	& > .info {
		position: absolute;
		top: 428px;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		display: flex;
		flex-direction: column;

		& > h2 {
			border-left: 2px solid #FCB525;
			padding-left: 20px;
			color: #373737;
			font-weight: 700;
			font-size: 36px;
			max-width: 30vw;
			margin-bottom: 16px;
			margin-top: 16px;
		}

		& > span {
			color: #707070;
			max-width: 30vw;
			font-size: 16px;
		}

		& > .links-download {
			display: flex;
			justify-items: center;
			align-items: center;
			padding-top: 100px;
			& > .download {
				position: relative;
				color: white;
				border: none;
				outline: none;
				cursor: pointer;
				transition: 1s;
				display: block;

				& > img {
					width: 256px;
					margin-left: -16px;
				}
				& > span {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}

		& > .phone {
			display: none;
		}

		& > .cool-phrase span{
			color: #F37335;
		}

		.mobile-only {
			display: none;
		}
	}

	& > .phone {
		position: absolute;
		top: 5%;
		transition: 0s;
		right: 6%;
		transform: translate(-50%, 0);
		animation: phone-animation 1.2s;

		img {
			transition: 0s;
			position: relative;
			z-index: 5;
			height: 580px;
		}
	}
}

#logo {
	user-select: none;
	font-size: 56px;
	color: #272727;
	position: relative;
	font-weight: 900;
	transition: 0.5s;
	animation: logo-animation 0.9s forwards, logo-pulse-animation 5s infinite;

	& > span {
		font-size: 69px;
		color: #FCB525;
		position: absolute;
		top: 40px;
		left: 4px;
	}
}

#background-ellipse {
	z-index: -1;
	position: absolute;
	width: 74vw;
	top: 35%;
	right: -57%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	animation: ellipse-animation 0.9s;
}

#background-ellipse-fake {
	display: none;
}

.division {
	width: 76vw;
	margin: 32px auto;
	height: 2px;
	background: rgb(195, 195, 195);
}

#about {
	padding-left: 0 !important;
	padding-right: 0 !important;
	box-sizing: content-box;
	min-height: auto;
	overflow: hidden;

	& > h3 {
		color: black;
		font-weight: 700;
		margin: auto;
		font-size: 32px;
		text-align: center;
		margin-bottom: 16px;
		& >span {
			animation: you-anim 5s;
		}
	}

	& > h5 {
		text-align: center;
		color: #707070;
		font-size: 16px;
		margin: auto;
	}

	.carousel-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 24px;
		margin-bottom: 42px;
		min-height: 128px;
		.main-carousel {
			width: 48vw;
			background: #fff;
			.carousel-cell {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: relative;
				width: 33.3%;
				min-height: 68vh;
				padding: 24px 0;
				transition: transform .5s;

				img {
					width: 95%;
					transition: .5s;
				}
				span {
					color: #000;
					font-size: 16px;
					text-align: center;
					opacity: 0;
					transition: .5s;
					font-weight: 500;
					white-space: nowrap;
				}

				&:hover {
					span {
						color: #F37335;
					}
				}

				&.is-selected {
					transform: translateY(-24px);
					img {
						transform: scale(1.04);
					}

					span {
						opacity: 1;
						transform: translateY(-24px);
					}
				}
			}
			.flickity-viewport {
				padding-top: 24px;
			}
		}
	}

}

#pricing {
	margin-top: 24px;
	margin-bottom: 72px;
	padding: 0 !important;
	box-sizing: content-box;
	min-height: 300px;
	overflow: hidden;
	& > h3 {
		color: black;
		font-weight: 700;
		margin: auto;
		font-size: 32px;
		text-align: center;
		margin-bottom: 8px;
		& > span {
			animation: you-anim 5s;
		}
	}

	& > h5 {
		text-align: center;
		color: #707070;
		font-size: 16px;
		margin: auto;
	}

	.carousel {
		margin-top: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: fit-content;
		padding-bottom: 24px;

		.card {
			background: #ffff;
			box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
			height: 100%;
			width: 30vw;
			min-width: 300px;
			max-width: 350px;
			transition: .2s;
			display: flex;
			justify-items: center;
			align-items: center;
			border-radius: 4px;
			overflow: hidden;
			flex-direction: column;
			height: 512px;
			margin: 0 32px;
			position: relative;

			&:hover {
				transform: translateY(-2px);
				box-shadow: 0 4px 3px 2px rgba(0, 0, 0, 0.2);
			}

			.title {
				background-color: #F37335;
				background-image: linear-gradient(to right, #FDC830, #F37335);
				color: #fff;
				font-size: 1.75rem;
				padding: 16px;
				width: 100%;
				letter-spacing: 2px;
				text-align: center;
				position: relative;
				box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
			}

			.price {
				text-align: center;
				color: #333333;
				font-weight: 700;
				font-size: 18px;
				padding: 16px 0 0 0;
				span {
					font-size: 36px;
					padding: 0 2px;
					color: #2b2b2b;
				}
			}

			.small-price {
				font-size: 9px;
				color: #9f8f8f;
			}

			.range-text {
				margin-bottom: 8px;
				margin-top: 0;
			}

			.num-students {
				background-color: transparent;
				outline-color: none;
				border: none;
				border-bottom: 1px solid #F37335;
				width: 36px;
				margin: 0 4px;
				text-align: center;
				color: #F37335;
				font-size: 18px;
			}

			.features {
				text-align: center;
				margin-top: 8px;
				& > div:first-child {
					margin-top: 8px;
				}
				& > div {
					margin-top: 14px;
					color: #2b2b2b;
					font-size: 0.875rem;
				}
			}

			button {
				cursor: pointer;
				position: absolute;
				bottom: 24px;
				left: 50%;
				transform: translateX(-50%);
				color: #f0f0f0;
				background: #ff8d55;
				padding: 8px 32px;
				outline: none;
				border: none;
				font-size: 1.2rem;
				border-radius: 4px;
				transition: .2s;
				width: 70%;
				&:hover {
					background: #F37335;
					color: #fff;
				}
			}

			.diamond {
				position: absolute;
				right: 22px;
				top: 25px;
			}

			input[type="range"] {
				width: 80%;
				margin-bottom: 16px;
				-webkit-appearance: none;
				background: transparent;

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
				}
				&:focus {
					outline: none;
					&::-webkit-slider-thumb {
						background: #d86329;
					}
					&::-webkit-slider-runnable-track {
						background: #969696;
					}
				}

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					height: 18px;
					width: 18px;
					border-radius: 50%;
					background: #F37335;
					cursor: pointer;
					margin-top: -7px;
					box-shadow: 1px 1px 2 px rgba(0, 0, 0, 0.2);
					transition: .3s;
				}

				&:hover::-webkit-slider-thumb {
					height: 20px;
					width: 20px;
					margin-top: -9px;
				}

				&::-moz-range-thumb {
					-webkit-appearance: none;
					height: 24px;
					width: 24px;
					border-radius: 50%;
					background: #F37335;
					cursor: pointer;
					margin-top: -14px;
					box-shadow: 1px 1px 2 px rgba(0, 0, 0, 0.2)
				}

				&::-webkit-slider-runnable-track {
					cursor: pointer;
					width: 100%;
					height: 3px;
					background: #b2b2b2;
					border-radius: 2px;
					transition: .3s;
				}

			}

			&.big {
				width: 28vw;
				min-width: 320px;
				max-width: 530px;
				margin: 0 24px 24px 24px;
			}

			&.premium {
				.title {
					background-image: linear-gradient(to right, #635d51, #000000);
				}
				button {
					background: #0e0801;
					&:hover {
						background: #000;
					}
				}
			}
		}
	}

	.ball {
		position: absolute;
		width: 30vw;
		height: 30vw;
		min-width: 200px;
		max-width: 300px;
		min-height: 200px;
		max-height: 300px;
		left: 30px;
		top: 60%;
		transform: translate(-50%, -50%);
		opacity: .44;
		animation: float 7s ease-in-out infinite;
		animation-delay: 0;
		&.second {
			left: 45%;
			top: 35%;
			width: 10vw;
			height: 10vw;
			opacity: .3;
			animation: float 12.5s ease-in-out infinite;
			animation-delay: -1s;
		}
		&.third {
			left: 85%;
			top: 75%;
			width: 20vw;
			height: 20vw;
			opacity: .2;
			animation: float 10s ease-in-out infinite;
			animation-delay: 1.2s;
		}
	}

	.subscribe-overlay {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: -1;
		opacity: 0;
		transition: .25s;
		display: flex;
		justify-content: center;
		align-items: center;

		.box {
			position: relative;
			width: 80vw;
			height: fit-content;
			max-width: 420px;
			max-height: 600px;
			background-color: #fffdf7;
			box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			padding: 0 0 24px 0;
			.intro {
				padding-top: 36px;
				margin-bottom: 32px;
				text-align: justify;
				background: #F37335;
				padding: 36px 24px 24px 24px;
				color: #fff;
				text-align: center;
				letter-spacing: 2px;
				font-size: 1.5rem;
				transition: none;

				span {
					display: block;
					font-size: 12px;
				}

				&.premium {
					background: #0e0801;
				}
			}

			.info {
				padding: 0 24px;
				margin-bottom: 16px;
			}

			button {
				cursor: pointer;
				color: #f0f0f0;
				background: #ff8d55;
				padding: 8px 32px;
				outline: none;
				border: none;
				font-size: 1.2rem;
				border-radius: 4px;
				transition: .2s;
				width: 100%;
				margin-top: 32px;
				font-weight: bold;

				&:hover {
					background: #F37335;
				}

				&.premium {
					background: #0e0801;
				}
			}

			.close-overlay {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				right: 4px;
				top: 4px;
				width: 32px;
				height: 32px;
				z-index: 1;
				cursor: pointer;

				.cross {
					width: 20px;
					height: 3px;
					background-color: #fff;
					border-radius: 2px;
					transform: rotate(45deg);
					transition: .2s;
					&::after {
						content: '';
						display: block;
						width: 20px;
						height: 3px;
						background-color: inherit;
						border-radius: 2px;
						transform: rotate(90deg);
					}
				}

				:hover {
					.cross{
						background-color: #b9b9b9;
					}
				}

			}

			.logo-container {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 42px;
			}

			.logo {
				user-select: none;
				font-size: 34px;
				color: #272727;
				position: relative;
				font-weight: 900;
				transition: 0.5s;

				& > span {
					font-size: 40px;
					color: #FCB525;
					position: absolute;
					top: 28px;
					left: 4px;
				}
			}

			.form-group {
				margin-bottom: 16px;
				padding: 0 24px;
				& > input {
					outline: none;
					border: none;
					background: none;
					border-bottom: 1px solid #e2e2e2;
					width: 100%;
					color: #2b2b2b;
					font-size: 16px;
					padding: 8px 4px;
					font-weight: 500;
					transition: .3s;

					&::placeholder {
						color: #a0a0a0;
						font-weight: normal;
						transition: .3s;
					}

					&:focus {
						border-bottom: 1px solid #8d8d8d;
						&::placeholder {
							color: #636363;
						}
					}
				}
			}

		}

		&.active {
			z-index: 101;
			opacity: 1;
		}
	}
}

.diamond {
	border-style: solid;
	border-color: transparent transparent #e2e2e2 transparent;
	border-width: 0 4px 4px 4px;
	height: 0;
	width: 6px;
	box-sizing: content-box;
	position: relative;
}

.diamond:after {
	content: "";
	position: absolute;
	top: 4px;
	left: -4px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #e2e2e2 transparent transparent transparent;
	border-width: 8px 7px 0 7px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 9999;
}

.toast {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	top: -72px;
	width: 232px;
	height: 36px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(2, 218, 2);
	color: white;
	font-size: 20px;
	z-index: 99999;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.overlay .lds-dual-ring {
	display: inline-block;
	width: 128px;
	height: 128px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.overlay .lds-dual-ring:after {
	content: " ";
	display: block;
	width: 128px;
	height: 128px;
	margin: 1px;
	border-radius: 50%;
	border: 12px solid #F37335;
	border-color: #F37335 transparent #F37335 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}


#contact {
	position: relative;
	height: 712px;
	min-height: 712px;
	padding-top: 58px;
	overflow-y: hidden;
}

#social-media {
	margin-top: 56px;
	color: #868686;
	font-weight: 600;
	font-size: 18px;
	padding: 0 86px;
	position: relative;
}

#social-media>div {
	margin-bottom: 12px;
}

#social-media>a {
	text-decoration: none;
}

#facebook {
	position: relative;
	width: 32px;
	margin-right: 16px;
	cursor: pointer;
}

#instagram {
	position: relative;
	width: 32px;
	cursor: pointer;
}

#background-contact-ellipse {
	position: absolute;
	top: 0;
	z-index: -1;
	width: 340vw;
	left: 50%;
	transform: translateX(-50%);
}

#contact>h2 {
	font-size: 36px;
	text-align: center;
}

#contact>h4 {
	max-width: 85%;
	color: #535353;
	margin: auto;
	font-size: 16px !important;
	font-weight: normal;
	text-align: center;
}

#contact>h4:nth-child(2) {
	margin-top: 36px;
}

#contact>h4:nth-child(3) {
	margin-top: 20px;
}

#mail-icon {
	width: 42px;
}

#contact>.email-box {
	width: 88%;
	max-width: 900px;
	padding: 0 86px;
	display: flex;
	justify-content: flex-start;
	position: relative;
	align-items: center;
	margin: auto;
	height: 172px;
	border-radius: 86px;
	margin-top: 42px;
	animation: email-animation 2s;
	background-image: linear-gradient(to right, #FDC830, #F37335);
	box-shadow: 4px 8px 4px 3px rgba(0, 0, 0, 0.2);
}


#contact>.email-box>.form-group {
	display: flex;
	width: 35%;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	padding-left: 24px;
}

#contact>.email-box>.form-group>input {
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px solid white;
	width: 100%;
	color: white;
	font-size: 16px;
	padding: 8px 4px;
	margin-bottom: 12px;
	font-weight: 500;
}

#contact>.email-box>.form-group>input::placeholder {
	color: rgba(255, 255, 255, 0.815);
	font-weight: normal;
}

#send-mail {
	background: white;
	color: #F37335;
	padding: 20px 92px;
	position: absolute;
	right: 78px;
	border-radius: 42px;
	border: none;
	outline: none;
}

#send-mail:hover {
	color: black;
}

.arrow-button {
	z-index: 99;
	border: none;
	outline: none;
	background-color: rgb(27, 27, 27);
	border-radius: 50%;
	padding: 28px;
	opacity: 0.6;
	position: relative;
}

.arrow-button.small {
	opacity: 1;
	padding: 18px;
	background-color: #c9c9c9;
}

#scrollTop {
	position: fixed;
	bottom: 42px;
	right: 64px;
	opacity: 0;
}

.arrow-button>span {
	border-radius: 8px;
	display: block;
	width: 6px;
	height: 24px;
	position: absolute;
	background: white;
}

.arrow-button.small>span,
.arrow-button.small>span::after {
	width: 3px;
	background: #ffa100;
	height: 12px;
}

.arrow-button.up>span {
	transform: rotateZ(45deg);
	top: 15px;
	left: 18px;
}

.arrow-button.small.left>span {
	transform: rotateZ(315deg);
	top: 17px;
	left: 15px;
}

.arrow-button.small.right>span {
	transform: rotateZ(135deg);
	top: 9px;
	right: 16px;
}

#created-by,
#made-by {
	white-space: nowrap;
	position: absolute;
	right: 150px;
	bottom: 24px;
	color: #474747;
	font-weight: 100;
	font-size: 14px;
	text-decoration: none;
}

#created-by {
	bottom: 44px;
}

.arrow-button>span::after {
	content: '';
	border-radius: 8px;
	display: block;
	width: 6px;
	height: 24px;
	position: relative;
	background: white;
	transform: rotateZ(90deg);
	top: -10px;
	left: 9px;
}

.arrow-button.small>span::after {
	top: -6px;
	left: 5px;
}

.arrow-button:hover {
	background-color: black;
}

.arrow-button.small:hover {
	background-color: #7c7c7c;
}

.arrow-button.up:hover>span {
	animation: jump 0.6s;
}

.arrow-button.right:hover>span {
	animation: jump-right 0.5s;
}

.arrow-button.left:hover>span {
	animation: jump-left 0.5s;
}


@media only screen and (min-width: 1400px) {
	#intro {
		padding-right: 14% !important;
		padding-top: 72px;
		padding-left: 14% !important;
		width: auto;
		min-height: 980px;
		overflow-y: hidden;
	}
	#background-ellipse {
		max-width: 1350px;
	}
}

@media only screen and (min-width: 1800px) {
	#intro {
		padding-right: 18% !important;
		padding-left: 18% !important;
	}
	#about {
		.carousel-container {
			.main-carousel {
				.carousel-cell {
					span {
						font-size: 18px;
					}
				}
			}
		}
	}
}



@media only screen and (min-width: 2400px) {
	#intro {
		padding-right: 18% !important;
		padding-left: 18% !important;
	}
	#about {
		.carousel-container {
			.main-carousel {
				.carousel-cell {
					span {
						font-size: 36px;
					}
					&.is-selected {
						span {
							transform: translateY(-32px);
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1280px) {
	#intro {
		min-height: 750px;
		& > .phone {
			img {
				height: 540px;
			}
		}
	}

	section {
		padding-right: 92px;
		padding-left: 92px;
		padding-top: 36px;
	}

	#about {
		.carousel-container {
			.main-carousel {
				width: 60vw;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	h2 {
		font-size: 38px;
	}
	h3 {
		font-size: 28px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 14px;
	}

	#background-ellipse {
		width: 91vw;
		top: 35%;
		right: -82%;
	}
	section {
		padding-left: 72px;
		padding-right: 72px;
		padding-top: 32px;
	}

	#logo {
		font-size: 42px;
		transition: 0.5s;
		animation: logo-animation-little 0.9s;
	}

	#logo > span {
		font-size: 52px;
	}

	#intro {
		min-height: 700px;
		& > .phone {
			img {
				height: 500px;
			}
		}
	}

	#intro > .info > h2 {
		max-width: 35vw;
	}

	#intro > .info > span {
		max-width: 30vw;
		font-size: 16px;
	}

	#contact > .email-box {
		height: 128px;
	}
	#mail-icon {
		width: 64px;
	}
	#send-mail {
		padding: 18px 64px;
	}


}

@media only screen and (max-width: 792px) {
	#pricing {
		.ball {
			top: 40%;
			&.second {
				left: 90%;
				top: 70%
			}
			&.third {
				top: 90%;
				left: 20%;
				max-width: 100px;
				max-height: 100px;
				min-width: 100px;
				min-height: 100px;
			}
		}
		.carousel {
			margin-top: 48px;
			flex-direction: column;
			.card:first-child {
				margin-bottom: 36px;
			}
		}
	}

	#contact > h4 {
		font-size: 14px !important;
	}

	#contact {
		min-height: 900px;
		height: 900px;
	}
	#contact > h2 {
		font-size: 32px;
	}
	#contact > h4 {
		max-width: 100%;
	}
	#contact > .email-box {
		padding: 0 24px;
		height: 346px;
		flex-direction: column;
		justify-content: flex-start;
	}
	#contact > .email-box > .form-group {
		width: 100%;
	}
	#send-mail {
		bottom: 24px;
		left: 50%;
		transform: translateX(-50%);
	}

	#background-ellipse {
		width: 108vw;
		top: 35%;
		right: -107%;
	}
	section {
		padding-right: 56px;
		padding-left: 56px;
		padding-top: 28px;
	}
	#logo {
		font-size: 36px;
	}
	#logo > span {
		font-size: 44px;
	}

	#intro > .phone > img{
		height: 430px;
	}

	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 26px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 13px;
	}

	#intro > .info > h2 {
		max-width: 32vw;
	}

	#intro > .info > span {
		max-width: 28vw;
		font-size: 14px;
	}
	#about > h5 {
		font-size: 400;
	}
	#about > h3 {
		font-size: 26px;
		max-width: 95%;
	}
	#about > h5 {
		font-size: 14px;
		max-width: 70%;
	}
}

@media only screen and (max-width: 646px) {
	#contact {
		min-height: 936px;
		height: 936px;
	}
	#created-by, #made-by {
		right: auto;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media only screen and (max-width: 592px) {
	#contact {
		min-height: 922px;
		height: 922px;
		& > h4 {
			text-align: justify;
		}
		& > h2 {
			font-size: 26px;
		}
	}

	#intro {
		padding-top: 72px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding-right: 56px !important;
		overflow-y: visible;
		padding-bottom: 128px;
	}
	#background-ellipse {
		display: none;
	}
	#background-ellipse-fake {
		position: absolute;
		border: 2px solid #FCB525;
		top: 620px;
		display: block;
		max-width: 530px;
		max-height: 530px;
		width: 135vw;
		height: 135vw;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		animation: little-ellipse-animation 1.2s;
	}
	#background-ellipse-fake span {
		top: 50%;
		border: 2px solid #FCB525;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		width: 90%;
		height: 90%;
	}

	#background-ellipse-fake span.fill span {
		background: rgba(252, 180, 37, 0.383);
	}
	#intro > .info {
		position: relative;
		transition: 0s;
		top: 76px;
		transform: translateY(0%);
	}

	#logo > span {
		transition: 0s;
	}

	#intro {
		& > .phone {
			position: relative;
			animation: none;
			display: none;
		}
		& > .info {
			& >.phone {
				display: block;
				position: relative;
				margin-top: 92px;
				img {
					transition: 0s;
					transform: translateX(-50%);
					left: 50%;
					animation: phone-animation-small 3s;
					position: relative;
					z-index: 5;
					height: 428px;
				}
			}

			& > .links-download {
				margin: auto;
				padding-top: 92px;
			}

			& > span {
				max-width: 100%;
				text-align: center;
				transition: 0s;
				white-space: nowrap;
			}

			& > h2 {
				padding-left: 12px;
				max-width: 100%;
				text-align: center;
				transition: 0s;
				white-space: nowrap;
			}

		}
	}

	#about {
		.carousel-container {
			.main-carousel {
				width: 90vw;
				.carousel-cell {
					width: 60%;
					min-height: 75vh;
				}
			}
		}
	}
}

@media only screen and (max-width: 540px) {
	#intro {
		& > .info {
			& > h2 {
				font-size: 26px;
			}
			& > .desktop-only {
				display: none;
			}
			& > .mobile-only {
				display: block;
			}

		}
	}
	#contact {
		min-height: 952px;
		height: 952px;
	}
	#about {
		& > h3 {
			font-size: 20px;
		}
		& > h5 {
			font-size: 12px;
			max-width: 80%;
		}
	}

}

@media only screen and (max-width: 492px) {
	h2 { font-size: 24px; }
	h3 { font-size: 20px; }
	h4 { font-size: 16px; }
	h5 { font-size: 12px; }

	#contact {
		min-height: 970px;
		height: 970px;
		& > .email-box > .form-group{
			padding-left: 0;
		}
	}

	#intro > .info > span{
		font-size: 14px;
	}

	#social-media{
		margin-top: 32px;
		font-weight: 300;
		font-size: 14px;
		padding: 0 32px;
		position: relative;
	}

	#send-mail{
		padding: 14px 32px;
	}

	.email-box {

		transform: translateX(-50%);
		left: 50%;
		width: 130% !important;
		animation: none !important;
	}
}
