<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>How To Train</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/css/flickity.min.css">
	<link rel="stylesheet" href="/css/home/home.min.css">
</head>
<body>
	<section id="intro">
		<div id="logo">HOW TO<span>TRAIN</span></div>
		<object id="background-ellipse" data="/images/ellipse.svg" type="image/svg+xml"></object>
		<div id="background-ellipse-fake">
			<span>
				<span>
					<span>
						<span>
							<span>
								<span>
									<span>
										<span>
											<span class="fill"></span>
										</span>
									</span>
								</span>
							</span>
						</span>
					</span>
				</span>
			</span>
		</div>
		<div class="info">
			<h2 class="desktop-only">O App para Academias e Personal Trainers</h2>
			<h2 class="mobile-only">O App para Academias e<br/> Personal Trainers</h2>
			<span class="cool-phrase">A criatividade é <span>pensar</span> coisas novas.<br/>A inovação é <span>fazer</span> coisas novas.</span>
			<div class="phone">
				<img src="/images/showcase_app_compressed.png" alt="">
			</div>
			<div class="links-download">
				<a class="download" href='https://play.google.com/store/apps/details?id=com.galdinoLabs.howToTrain.teacher'>
					<img alt='Disponível no Google Play' src="/images/playbadge-compressed.png"/>
					<!-- <span>App do Professor</span> -->
				</a>
			</div>
		</div>
		<div class="phone">
			<img src="/images/showcase_app_compressed.png" alt="">
		</div>
	</section>
	<div class="division"></div>
	<section id="about">
		<h3>Nós ajudamos seus alunos a <span></span>atingirem seus objetivos</span></h3>
		<h5>Temos as principais funcionalidades que vão ajudar você e seus alunos no dia a dia:</h5>
		<div class="carousel-container">
			<div class="main-carousel" data-flickity='{ "wrapAround": true, "autoPlay": false }'>
				<div class="carousel-cell">
					<span>Ganhar Músculos com Dedicação</span>
					<img src="/images/showcase_app_compressed.png" alt="">
				</div>
				<div class="carousel-cell">
					<span>Definir</span>
					<img src="/images/showcase_app_compressed.png" alt="">
				</div>
				<div class="carousel-cell">
					<span>Frase grande para testar esse carousel!</span>
					<img src="/images/showcase_app_compressed.png" alt="">
				</div>
				<div class="carousel-cell">
					<span>Entrar Em Forma</span>
					<img src="/images/showcase_app_compressed.png" alt="">
				</div>
			</div>
		</div>
	</section >
	<section id="pricing">
		<h3>Faça já a sua Assinatura</h3>
		<object class="ball" data="/images/ellipse.svg" type="image/svg+xml"></object>
		<object class="ball second" data="/images/ellipse.svg" type="image/svg+xml"></object>
		<object class="ball third" data="/images/ellipse.svg" type="image/svg+xml"></object>
		<div class="carousel">
			<div class="card">
				<div class="title">Básico</div>
				<div class="price">
					R$ <span>14</span>,70 /mês
				</div>
				<div class="small-price">R$ 0,49/aluno</div>
				<div class="info">Arraste para fazer uma simulação</div>
				<input type="range" value="30" min="30" max="350">
				<div class="range-text">Até <input class="num-students" max="350" min="30" value="30"/> alunos</div>
				<div class="features">
					<div><b>•Um App exclusivo para os Alunos</b></div>
					<div><b>•Um App exclusivo para os Professores</b></div>
					<div>• Base de exercícios pré-cadastrados para <br/> montagem de treinos</div>
					<div>• Canal de comunicação com os alunos</div>
					<div>• Ambos os aplicativos mostram <br/> za logo do HowToTrain</div>
				</div>
				<button class="subscribe basic">Assine</button>
			</div>
			<div class="card premium">
				<div class="title">
				Enterprise <div class="diamond right"></div>
				</div>
				<div class="price">
					R$ <span>29</span>,70 /mês
				</div>
				<div class="small-price">R$ 0,99/aluno</div>
				<div class="info">Arraste para fazer uma simulação</div>
				<input type="range" value="30" min="30" max="350">
				<div class="range-text">Até <input class="num-students" max="350" min="30" value="30"/> alunos</div>

				<div class="features">
					<div><b>• App personalizado para a sua academia <br/>(cores, nome e logo do App)</b></div>
					<div><b>•Um App exclusivo para os Alunos</b></div>
					<div><b>•Um App exclusivo para os Professores</b></div>
					<div>• Base de exercícios pré-cadastrados para <br/> montagem de treinos</div>
					<div>• Canal de comunicação com os alunos</div>
				</div>

				<button class="subscribe premium">Assine</button>
			</div>
		</div>
		<div class="subscribe-overlay">
			<div class="box">
				<div class="close-overlay">
					<div class="cross"></div>
				</div>
				<div class="intro">
					Plano Básico <br> <span>30 alunos por R$ 14,70 /mês</span>
				</div>
				<div class="logo-container">
					<div class="logo">
						HOW TO<span>TRAIN</span>
					</div>
				</div>
				<div class="form-group">
					<input class="name" type="text" placeholder="Nome">
				</div>
				<div class="form-group">
					<input class="email" type="email" placeholder="E-mail para Contato">
				</div>
				<div class="form-group">
					<input
						class="phone"
						type="tel"
						pattern="[0-9]{10}"
						value=""
						placeholder="Telefone Para Contato"
						autocomplete="off"
						maxlength="15"
						onkeyup="mascara( this, mtel );"
					>
				</div>
				<div class="form-group">
					<button>Solicitar Assinatura</button>
				</div>
			</div>
		</div>
	</section>
	<section id="contact">
		<h2>Dúvidas ou sugestões?</h2>
		<h4>Se você é dono de academia e gostou da ideia mas ficou com alguma dúvida, entre em contato conosco, faremos uma apresentação completa sobre nosso serviço para você.</h4>
		<div class="email-box">
			<object id="mail-icon" data="/images/ic_svg_letter.svg" type="image/svg+xml"></object>
			<div class="form-group">
				<input type="email" placeholder="seu@email.com.br" name="from" id="email-from">
				<input type="text" placeholder="Mensagem aqui..." name="message" id="email-message">
			</div>
			<button id="send-mail">Enviar</button>
		</div>
		<div id="social-media">
			<div>Nos acompanhe também nas redes sociais!</div>
			<a href="https://www.facebook.com/How-to-Train-234565457420864">
				<img id="facebook" class="btn-h"  src="/images/ic_vt_facebook.svg" type="image/svg+xml"></img>
			</a>
			<a href="https://www.instagram.com/_howtotrain/">
				<img id="instagram" class="btn-h"  src="/images/insta-svg.svg" type="image/svg+xml"></img>
			</a>
		</div>
		<div class="division"> </div>
		<a href="https://github.com/GaldinoJr" id="created-by">Created By Galdino Rodrigues</a>
		<a href="https://github.com/PauloGasparSv" id="made-by">Made by Paulo Gaspar</a>
		<object id="background-contact-ellipse" data="/images/ellipse_gray.svg" type="image/svg+xml"></object>
	</section>
	<div class="overlay"><div class="lds-dual-ring"></div></div>
	<div class="toast">Email Enviado</div>
	<button onclick="scrollToTop()" id="scrollTop" class="arrow-button up" title="Ir para o topo"><span></span></button>

	<script src="/js/flickity.min.js"></script>
	<script src="/js/home/home.min.js"></script>
</body>
</html>